<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />
    <meta name="theme-color" content="#fff">
    <meta name="keywords" content="<%- keywords -%>">
    <meta name="description" content="<%- description -%>">
    <meta name="author" content="<%- author -%>">
    <!-- twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="<%- title -%>" />
    <meta name="twitter:image" content="<%- baseurl -%>/assets/img/icon-512x512.png" />
    <meta name="twitter:creator" content="<%- author -%>" />
    <meta name="twitter:description" content="<%- description -%>" />
    <!-- end twitter -->
    <!-- og -->
    <meta property="og:url" content="<%- baseurl -%>" />
    <meta property="og:title" content="<%- title -%>" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="<%- baseurl -%>/assets/img/icon-512x512.png" />
    <meta property="og:description" content="<%- description -%>" />
    <!-- end og -->
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/assets/img/icon-180x180.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/icon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/icon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/icon-96x96.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/img/icon-512x512.png">
    <link rel="manifest" href="/manifest.json">
    <title><%- title -%></title>
  </head>
  <body class="custom-scrollbar">
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
